{% extends 'base.html' %}
{% load custom_tags %}

 {% block content %}

  <h2 class="text-center">Login</h2>
  <br><br>
  <div class="text-center">
	  <div class="col-md-6 offset-md-3">
      <form method="POST">
       {% csrf_token %}
       {% my_error_messages %}
       <div class="form-group">
         <input type="text" class="form-control" placeholder="Enter Username" name="username">
       </div>
       <div class="form-group">
         <input type="password" class="form-control" placeholder="Enter Password" name="password">
       </div>
       <button type="submit" class="btn btn-secondary">Login</button>
       <a href="{% url 'logout' %}" class="btn btn-secondary">Home</a>
      </form>
   </div>
{% endblock %}
