{% extends 'basepayment.html' %}

{% load custom_tags %}
 {% block content %}
    {% if user.is_authenticated %}
          <br/><br/>
          <center>
          <div class="form-group">
        	  <form method="post" action="">
        	     {% csrf_token %}
        	     {{ form.as_p}}
        	     <button type="submit" class="btn btn-secondary">Submit Payment</button>
               <a href="{% url 'login' %}" class="btn btn-secondary">Exit</a>
                  </form>
          </div>
          </center>

        Welcome Dear {{user}}
     {% else%}
      You need to log in
      <a href="{% url 'login' %}">Log in</a>
     {%endif%}
   {% endblock %}
